* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  height: 100vh;
  background: linear-gradient(rgb(103, 122, 147) 11.2%, rgb(16, 37, 60) 51.2%);
}

.input-box {
  background: white;
  width: 90%;
  max-width: 500px;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 300px auto;
  display: flex;
  align-items: center;
}

.input-box input {
  width: 100%;
  padding: 10px 0;
  border: 0;
  outline: 0;
  font-size: 24px;
  color: #555;
}

.input-box img {
  width: 35px;
  cursor: pointer;
}
footer {
  text-align: center;
  font-size: 18px;
  color: rgba(208, 193, 193, 0.7);
}

a {
  color: white;
}
